<html>
  <head>
    <style>
      /* Додайте стилі для вашого листа */
    </style>
  </head>
  <body>
    <p>Ситуація:</b>
    <p>Задача:</p>

    <p>Інфо про клієнта</p>
    <p>ПІБ</p>
    <p>Код клієнта</p>
    <p>Категорія картки</p>

  </body>
</html>